{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Add Crop to {{ farm.name }}</h2>

    <form action="{{ url_for('views.add_crop', farm_id=farm.id) }}" method="POST" enctype="multipart/form-data" class="mt-3">
        <div class="mb-3">
            <label for="name" class="form-label">Crop Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="variety" class="form-label">Variety</label>
            <input type="text" name="variety" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="date_planted" class="form-label">Date Planted</label>
            <input type="date" name="date_planted" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity Planted</label>
            <div class="input-group">
                <input type="number" name="quantity" class="form-control" required>
                <select name="quantity_unit" class="form-select" required>
                    <option value="grams" {% if request.form.get("quantity_unit") =='grams' %}selected{% endif %}>g</option>
                    <option value="kilograms" {% if request.form.get('quantity_unit')=='kilograms' %}selected{% endif %}>KG</option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label for="stage" class="form-label">Stage</label>
            <select name="plant_stage" class="form-select" required>
                <option value="Planting" {% if request.form.get('plant_stage')=='Planting' %}selected{% endif %}>Planting</option>
                <option value="Transplanting" {% if request.form.get('plant_stage')=='Transplanting' %}selected{% endif %}>Transplanting</option>
                <option value="Harvesting" {% if request.form.get('plant_stage')=='Harvesting' %}selected{% endif %}>Harvesting</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="date_recorded" class="form-label">Stage Date</label>
            <input type="date" name="date_recorded" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Plant Image</label>
            <input type="file" name="image" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Add Crop</button>
    </form>
</div>
{% endblock %}
