{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <!-- Overview Page Content -->
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Farm Overview</h1>
    </div>
    <div class="row">
        <!-- Farm Name Card -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ farm.name }}</h5>
                    <p class="card-text">Total Size: {{ farm.size }} {{ farm.size_unit }}</p>
                </div>
            </div>
        </div>

        <!-- Crops Planted Card -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Crops Planted</h5>
                    <p class="card-text">
                        {% for crop in crops %}
                            {{ crop.crop_name }}                            
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <!-- Financial Overview Cards -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Financial Overview</h5>
                    <p class="card-text">Total Expenses: KES {{ total_expenses }}</p>
                    <p class="card-text">Total Sales: KES {{ total_sales }}</p>
                    <p class="card-text">Total Profit: KES {{ total_profit }}</p>
                </div>
            </div>
        </div>

        <!-- Individual Crop Cards -->
        {% for crop in crops %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ crop.crop_name }} - {{ crop.variety }}</h5>
                    <p class="card-text">Date Planted: {{ crop.date_planted }}</p>
                    {% if crop.image %}
                                <br><img src="{{ url_for('views.uploaded_file', filename=crop.image) }}" alt="{{ crop.crop_name }}" class="img-fluid mt-2" style="max-height: 200px;">
                            {% endif %}
                    <a href="{{ url_for('views.crop_detail', crop_id=crop.crop_id) }}" class="btn btn-success">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
