{% extends "base.html" %}
{% block content %}
<div>
    <h1>Welcome to {{ current_user.first_name }}'s Farms</h1>
    <!-- Display current farm info -->
    {% if farm %}
    <div class="farm-info">
        <p>Farm Name: {{ farm.name }}</p>
        <p>Farm Size: {{ farm.size }} {{ farm.size_unit }}</p>
        <p>Location: {{ farm.address }}</p>

        <!-- List the crops in the farm -->
        <h4>Crops in the Farm:</h4>
        <ul>
            {% for crop in crops %}
            <li>{{ crop.name }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('views.edit_farm', farm_id=farm.id) }}">
            <button>Edit farm</button>
        </a>
    </div>
    {% else %}
    <p>No farm information available. Please add a farm.</p>
    {% endif %}
</div>
<div>
    <a href="{{ url_for('views.add_farm') }}">
        <button>Add farm</button>
    </a>
</div>
{% endblock %}