/* Sidebar Styling */
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    min-height: 100vh;
}

.sidebar .nav-link {
    color: #333;
    padding: 10px;
}

.sidebar .nav-link:hover {
    background-color: #e9ecef;
}

/* Main Content Styling */
main {
    margin-left: 250px; /* Adjust for the sidebar width */
    padding-top: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    z-index: 999;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero {
    background-image: url('markus-winkler-HeqXGxnsnX4-unsplash.jpg'); 
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
.hero .container {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 700;
}

.hero .container h1 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.hero .container p {
    margin-bottom: 2rem;
}

.hero h1, .hero p {
    color: rgb(19, 49, 2);
}

.hero .btn {
    z-index: 3;
}