{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Account Information</h2>
    
    <h4>Farmer Details</h4>
    <ul class="list-group">
        <li class="list-group-item"><strong>First Name:</strong> {{ user.first_name }}</li>
        <li class="list-group-item"><strong>Last Name:</strong> {{ user.last_name }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
        <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
    </ul>

    <h4>Number of Farms: {{ user.farms | length }}</h4>
    <h4>Farms:</h4>
    {% if farms %}
        <ul class="list-group">
            {% for farm in farms %}
                <li class="list-group-item">
                    <strong>Farm Name:</strong> {{ farm.name }}<br>
                    <strong>Size:</strong> {{ farm.size }} acres<br>
                    <strong>Address:</strong> {{ farm.address }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No farms available for this account.</p>
    {% endif %}

    <a href="{{ url_for('views.edit_account', farmer_id=user.id) }}" class="btn btn-secondary mt-3">Edit Account</a>
</div>
{% endblock %}
